<%- include('header') %>
<div class="content-wrapper" ng-controller="documentWrite">

    <section class="content-header">
        <h1>
            <%= blogName %>
            <small><%= item %></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
            <li><a href="#"><%= category %></a></li>
            <li class="active"><%= item %></li>
        </ol>
    </section>


    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><%= item %></h3>
                    </div>

                    <form class="form-horizontal" name="myForm">
                        <div class="box-body">


                            <div class="form-group"
                                 ng-class="{'has-error':myForm.document_title.$invalid && !myForm.document_title.$pristine,'has-success':myForm.document_title.$valid && !myForm.document_title.$pristine}">
                                <label for="document_title" class="col-sm-2 control-label">文章标题</label>

                                <div class="col-sm-10">
                                    <input type="text" name="document_title" ng-model="document_title" class="form-control"
                                           id="document_title" placeholder="请输入文章标题" ng-minlength="5" ng-maxlength="30"
                                           required>
                                    <span class="help-block ng-hide"
                                          ng-show="myForm.document_title.$invalid && !myForm.document_title.$pristine"><span
                                                class="glyphicon glyphicon-remove"></span>对不起，文章标题格式不正确！</span>
                                    <span class="help-block ng-hide"
                                          ng-show="myForm.document_title.$valid && !myForm.document_title.$pristine"><span
                                                class="glyphicon glyphicon-ok"></span>恭喜您，文章标题可用！</span>
                                </div>
                            </div>


                            <div class="form-group"
                                 ng-class="{'has-error':myForm.document_from.$invalid && !myForm.document_from.$pristine,'has-success':myForm.document_from.$valid && !myForm.document_from.$pristine}">
                                <label for="document_from" class="col-sm-2 control-label">来源</label>

                                <div class="col-sm-10">
                                    <input type="text" name="document_from" ng-model="document_from" class="form-control"
                                           id="document_from" placeholder="请输入来源" required>
                                    <span class="help-block ng-hide"
                                          ng-show="myForm.document_from.$invalid && !myForm.document_from.$pristine"><span
                                                class="glyphicon glyphicon-remove"></span>对不起，来源格式不正确！</span>
                                    <span class="help-block ng-hide"
                                          ng-show="myForm.document_from.$valid && !myForm.document_from.$pristine"><span
                                                class="glyphicon glyphicon-ok"></span>恭喜您，来源可用！</span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否显示</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="document_display" ng-model="document_display.name" id="" value="1" ng-checked="true">
                                            显示
                                        </label>
                                        <label>
                                            <input type="radio" name="document_display" ng-model="document_display.name" id="" value="0">
                                            隐藏
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">推荐为热门</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="document_hot" ng-model="document_hot.name" id="" value="1" ng-checked="true">
                                            是
                                        </label>
                                        <label>
                                            <input type="radio" name="document_hot" ng-model="document_hot.name" id="" value="0">
                                            否
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">推荐为轮播图</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="document_recommend" ng-model="document_recommend.name" id="" value="1" >
                                            是
                                        </label>
                                        <label>
                                            <input type="radio" name="document_recommend" ng-model="document_recommend.name" id="" value="0" ng-checked="true">
                                            否
                                        </label>

                                    </div>
                                </div>
                            </div>


                            <div class="form-group"
                                 ng-class="{'has-error':myForm.document_tags.$invalid && !myForm.document_tags.$pristine,'has-success':myForm.document_tags.$valid && !myForm.document_tags.$pristine}">
                                <label for="document_tags" class="col-sm-2 control-label">TAG标签</label>

                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" name="document_tags" ng-model="document_tags" class="form-control" required>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown">选择
                                                <span class="fa fa-caret-down"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">标签1</a></li>
                                                <li><a href="#">标签2</a></li>
                                                <li><a href="#">标签3</a></li>
                                                <li><a href="#">标签4</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#addContentTags" role="button" class="btn btn-link"
                                       data-toggle="modal"><span class="fa fa-tags" aria-hidden="true"></span>新标签</a>

                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">缩略图</label>
                                <div class="col-sm-10">
                                    <img src="{{postImg}}" alt="" class="img-circle col-sm-4"
                                         id="post_img_preview"/>
                                    <p id="post_img"></p>
                                </div>
                            </div>


                            <div class="form-group"
                                 ng-class="{'has-error':myForm.document_category.$invalid && !myForm.document_category.$pristine,'has-success':myForm.document_category.$valid && !myForm.document_category.$pristine}">
                                <label class="col-sm-2 control-label">文档分类</label>
                                <div class="col-sm-10">


                                    <select class="form-control" name="document_category" ng-model="document_category"
                                            ng-options="x.id as x.name for x in cateOptions" required>
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                    <span class="help-block ng-hide"
                                          ng-show="myForm.document_category.$invalid && !myForm.document_category.$pristine"><span
                                                class="glyphicon glyphicon-remove"></span>对不起，您必须选择一项！</span>
                                </div>
                            </div>


                            <div class="form-group"
                                 ng-class="{'has-error':myForm.document_keywords.$invalid && !myForm.document_keywords.$pristine,'has-success':myForm.document_keywords.$valid && !myForm.document_keywords.$pristine}">
                                <label class="col-sm-2 control-label">关键字</label>
                                <div class="col-sm-10">
                                    <input type="text" name="document_keywords" ng-model="document_keywords"
                                           class="form-control"
                                           id="" placeholder="请输入关键字" required>
                                    <span class="help-block ng-hide"
                                          ng-show="myForm.document_keywords.$invalid && !myForm.document_keywords.$pristine"><span
                                                class="glyphicon glyphicon-remove"></span>对不起，排序格式不正确！</span>
                                    <span class="help-block ng-hide"
                                          ng-show="myForm.document_keywords.$valid && !myForm.document_keywords.$pristine"><span
                                                class="glyphicon glyphicon-ok"></span>恭喜您，排序可用！</span>
                                </div>
                            </div>


                            <div class="form-group"
                                 ng-class="{'has-error':myForm.document_abstract.$invalid && !myForm.document_abstract.$pristine,'has-success':myForm.document_abstract.$valid && !myForm.document_abstract.$pristine}">
                                <label class="col-sm-2 control-label">内容摘要</label>
                                <div class="col-sm-10">
                                    <input type="text" name="document_abstract" ng-model="document_abstract"
                                           class="form-control"
                                           id="" placeholder="请输入内容摘要" required>
                                    <span class="help-block ng-hide"
                                          ng-show="myForm.document_abstract.$invalid && !myForm.document_abstract.$pristine"><span
                                                class="glyphicon glyphicon-remove"></span>对不起，排序格式不正确！</span>
                                    <span class="help-block ng-hide"
                                          ng-show="myForm.document_abstract.$valid && !myForm.document_abstract.$pristine "><span
                                                class="glyphicon glyphicon-ok"></span>恭喜您，排序可用！</span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">文档类型</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="document_type" ng-model="document_type.name" id="" value="post" ng-checked="true">
                                            文章
                                        </label>
                                        <label>
                                            <input type="radio" name="document_type" ng-model="document_type.name"  id="" value="page">
                                            页面
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group"
                                 ng-class="{'has-error':myForm.document_view.$invalid && !myForm.document_view.$pristine,'has-success':myForm.document_view.$valid && !myForm.document_view.$pristine}">
                                <label class="col-sm-2 control-label">点击数</label>
                                <div class="col-sm-10">
                                    <input type="text" name="document_view" ng-model="document_view" class="form-control"
                                           id="" placeholder="请输入点击数" ng-pattern="/^\d{1,4}$/" required>
                                    <span class="help-block ng-hide"
                                          ng-show="myForm.document_view.$invalid && !myForm.document_view.$pristine"><span
                                                class="glyphicon glyphicon-remove"></span>对不起，排序格式不正确！</span>
                                    <span class="help-block ng-hide"
                                          ng-show="myForm.document_view.$valid && !myForm.document_view.$pristine"><span
                                                class="glyphicon glyphicon-ok"></span>恭喜您，排序可用！</span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">作者</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" name="document_author" ng-model="document_author"
                                               class="form-control" required>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown">选择
                                                <span class="fa fa-caret-down"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">作者1</a></li>
                                                <li><a href="#">作者2</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">文档内容</label>
                                <div class="col-sm-10">

                                    <script id="container" name="document_content" type="text/plain"></script>


                                </div>
                            </div>


                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary pull-right" ng-click="documentWrite()">发布
                            </button>
                            <button type="submit" class="btn btn-primary pull-right" ng-click="">更新
                            </button>
                        </div>

                    </form>
                    <script src="/plugins/ueditor/ueditor.config.js"></script>
                    <script src="/plugins/ueditor/ueditor.all.js"></script>
                    <script type="text/javascript">
                        var ue = UE.getEditor('container', {
                            initialFrameWidth: '100%'
                        });
                    </script>
                </div>
            </div>

        </div>

    </section>


</div>
<%- include('footer') %>