<%- include('header') %>
<%- include('header-nav') %>
<%- include('search-overlay') %>
<div class="contianer u-clearfix">
    <%- include('left-column') %>
    <%- include('right-column') %>

</div>
<%- include('blue-foot') %>
<%- include('site-footer') %>
<%- include('footer') %>

