<%- include('header') %>
<%- include('header-nav') %>
<%- include('search-overlay') %>
<div class="contianer u-clearfix">
    <div class="cate-banner">
        <section class="cover cover--grid4">
            <article class="cover-story">
                <div class="cover-image" style="background-image: url(http://image.woshipm.com/wp-files/2017/05/YcrrvYsSB9qOcchThu0U.png);"></div>
                <a class="cover-trigger" target="_blank" href="http://www.woshipm.com/pmd/650126.html"></a>
                <header class="cover-header">
                    <h2 class="cover-title"><a target="_blank" href="http://www.woshipm.com/pmd/650126.html">10分钟用PPT快速做出原型交互演示的方法</a></h2>
                    <div class="cover-meta"><a target="_blank" href="http://www.woshipm.com/u/4585">哆啦美梦</a><span class="dot"></span>阅读 7k</div>
                </header>
            </article>
            <article class="cover-story">
                <div class="cover-image" style="background-image: url(http://image.woshipm.com/wp-files/2017/05/hR9hDe7j8PH3mXAtXGRF.jpg);"></div>
                <a class="cover-trigger" target="_blank" href="http://www.woshipm.com/pmd/655901.html"></a>
                <header class="cover-header">
                    <h2 class="cover-title"><a target="_blank" href="http://www.woshipm.com/pmd/655901.html">分析产品的结构化思维：分析需入木三分，不止于表面</a></h2>
                    <div class="cover-meta"><a target="_blank" href="http://www.woshipm.com/u/213786">徽州七哥</a><span class="dot"></span>阅读 6.1k</div>
                </header>
            </article>
            <article class="cover-story">
                <div class="cover-image" style="background-image: url(http://image.woshipm.com/wp-files/2017/04/ljFVgzdx9WZHjLEeFpjU.jpg);"></div>
                <a class="cover-trigger" target="_blank" href="http://www.woshipm.com/pmd/649409.html"></a>
                <header class="cover-header">
                    <h2 class="cover-title"><a target="_blank" href="http://www.woshipm.com/pmd/649409.html">产品首页重新定义：我的两次首页改版经历</a></h2>
                    <div class="cover-meta"><a target="_blank" href="http://www.woshipm.com/u/69414">互联网产品小王</a><span class="dot"></span>阅读 7.2k</div>
                </header>
            </article>
            <article class="cover-story">
                <div class="cover-image" style="background-image: url(http://image.woshipm.com/wp-files/2017/05/6EGWEnfNEHw39IjCUrIG.jpg);"></div>
                <a class="cover-trigger" target="_blank" href="http://www.woshipm.com/pmd/665647.html"></a>
                <header class="cover-header">
                    <h2 class="cover-title"><a target="_blank" href="http://www.woshipm.com/pmd/665647.html">谈To B产品路径逻辑：To B产品的核心本质到底是什么？</a></h2>
                    <div class="cover-meta"><a target="_blank" href="http://www.woshipm.com/u/148785">帅帅的帅</a><span class="dot"></span>阅读 4.7k</div>
                </header>
            </article>
        </section>
    </div>
    <div class="left-column">
        <header class="tagPage-header">
            <h1>产品经理</h1></header>
        <div class="blockGroup homeGroup">
            <article class="u-clearfix stream-list-item" data-id="668893">
                <div class="stream-list-image">
                    <a href="http://www.woshipm.com/pmd/668893.html" target="_blank" title="八年老司机总结了产品工作的5大神坑"><img src="http://image.woshipm.com/wp-files/2017/05/rZtlNjbH1n9v74KpMg9H.png!/both/202x145" width="202" height="145"></a>
                    <div class="stream-list-category"><a href="http://www.woshipm.com/category/pmd" rel="category tag">产品经理</a></div>
                </div>
                <div class="stream-list-content">
                    <h2 class="stream-list-title"><a target="_blank" href="http://www.woshipm.com/pmd/668893.html" title="八年老司机总结了产品工作的5大神坑">八年老司机总结了产品工作的5大神坑</a></h2>
                    <div class="stream-list-meta">
                        <span class="avatar-inline"><a target="_blank" href="http://www.woshipm.com/u/162626"><img src="http://image.woshipm.com/wp-files/2016/11/4aMknwlgZ9v4TOyOSeiu.jpg!/both/32x32" alt="" height="32" width="32" class="avatar"></a></span><span class="author" data-id="162626"><a target="_blank" href="http://www.woshipm.com/u/162626">PM7761</a></span>
                        <span class="dot"></span>
                        <time datetime="2017-05-22T16:24:26+08:00">2017/05/22</time>
                    </div>
                    <div class="stream-list-snipper">
                        本文作者将以自己的切实经历来给大家介绍几个常见的坑，同时介绍下如何搞定这些神坑，让自己真正做些有价值的事情。

                        刚做产品经理的时候，总喜欢跟一些所谓的前辈来请...        </div>
                    <footer class="stream-list-footer">
                        <span class="post-views"><span class="iconfont icon-view"></span>阅读 1.2k</span>
                        <span class="post-marks"><span class="iconfont icon-heart"></span>收藏 9</span>
                        <span class="post-likes"><span class="iconfont icon-zan"></span>被赞 1</span>
                    </footer>
                </div>
            </article><article class="u-clearfix stream-list-item" data-id="668149">
                <div class="stream-list-image">
                    <a href="http://www.woshipm.com/pmd/668149.html" target="_blank" title="场景入口知识浅析：从马斯洛层次理论出发的用户场景分类"><img src="http://image.woshipm.com/wp-files/2017/05/oI0kXb9UakrzaQunHDS0.jpg!/both/202x145" width="202" height="145"></a>
                    <div class="stream-list-category"><a href="http://www.woshipm.com/category/pmd" rel="category tag">产品经理</a></div>
                </div>
                <div class="stream-list-content">
                    <h2 class="stream-list-title"><a target="_blank" href="http://www.woshipm.com/pmd/668149.html" title="场景入口知识浅析：从马斯洛层次理论出发的用户场景分类">场景入口知识浅析：从马斯洛层次理论出发的用户场景分类</a></h2>
                    <div class="stream-list-meta">
                        <span class="avatar-inline"><a target="_blank" href="http://www.woshipm.com/u/209878"><img src="http://image.woshipm.com/wp-files/2017/05/FpDjnQZq9dbNjREYrFCo.jpg!/both/32x32" alt="" height="32" width="32" class="avatar"></a></span><span class="author" data-id="209878"><a target="_blank" href="http://www.woshipm.com/u/209878">陈正豪</a></span>
                        <span class="dot"></span>
                        <time datetime="2017-05-22T10:59:32+08:00">2017/05/22</time>
                    </div>
                    <div class="stream-list-snipper">
                        相信作为产品人的你们大都听过这样一句话吧——“脱离用户场景做产品都是耍流氓”，诚然，在最近的产品实践中我也是对这句话的有了更加深刻具象的理解。那么接下来我将梳理...        </div>
                    <footer class="stream-list-footer">
                        <span class="post-views"><span class="iconfont icon-view"></span>阅读 1.7k</span>
                        <span class="post-marks"><span class="iconfont icon-heart"></span>收藏 16</span>
                        <span class="post-likes"><span class="iconfont icon-zan"></span>被赞 4</span>
                    </footer>
                </div>
            </article><article class="u-clearfix stream-list-item" data-id="668695">
                <div class="stream-list-image">
                    <a href="http://www.woshipm.com/pmd/668695.html" target="_blank" title="做产品，自己的狗粮自己得先吃"><img src="http://image.woshipm.com/wp-files/2017/05/jyJVtIPS2Bzi5JOf0lAD.png!/both/202x145" width="202" height="145"></a>
                    <div class="stream-list-category"><a href="http://www.woshipm.com/category/pmd" rel="category tag">产品经理</a></div>
                </div>
                <div class="stream-list-content">
                    <h2 class="stream-list-title"><a target="_blank" href="http://www.woshipm.com/pmd/668695.html" title="做产品，自己的狗粮自己得先吃">做产品，自己的狗粮自己得先吃</a></h2>
                    <div class="stream-list-meta">
                        <span class="avatar-inline"><a target="_blank" href="http://www.woshipm.com/u/116449"><img src="http://image.woshipm.com/wp-files/2017/03/md66zaRwY9lG6JEep7v6.jpg!/both/32x32" alt="" height="32" width="32" class="avatar"></a></span><span class="author" data-id="116449"><a target="_blank" href="http://www.woshipm.com/u/116449">李哲</a></span>
                        <span class="dot"></span>
                        <time datetime="2017-05-22T10:13:13+08:00">2017/05/22</time>
                    </div>
                    <div class="stream-list-snipper">
                        产品团队成员一定都是自家产品的重度用户，因为只有这样，才能有如此敏锐的嗅觉去抓住痛点，从而在产品每次迭代后，带给用户一种共鸣感。为此，本文作者将对逻辑思维和...        </div>
                    <footer class="stream-list-footer">
                        <span class="post-views"><span class="iconfont icon-view"></span>阅读 2.4k</span>
                        <span class="post-marks"><span class="iconfont icon-heart"></span>收藏 2</span>
                        <span class="post-likes"><span class="iconfont icon-zan"></span>被赞 7</span>
                    </footer>
                </div>
            </article><article class="u-clearfix stream-list-item" data-id="668487">
                <div class="stream-list-image">
                    <a href="http://www.woshipm.com/pmd/668487.html" target="_blank" title="产品经理不是一个职业，而是一种思维"><img src="http://image.woshipm.com/wp-files/2017/05/zI630B425fONdqivXF5M.png!/both/202x145" width="202" height="145"></a>
                    <div class="stream-list-category"><a href="http://www.woshipm.com/category/pmd" rel="category tag">产品经理</a></div>
                </div>
                <div class="stream-list-content">
                    <h2 class="stream-list-title"><a target="_blank" href="http://www.woshipm.com/pmd/668487.html" title="产品经理不是一个职业，而是一种思维">产品经理不是一个职业，而是一种思维</a></h2>
                    <div class="stream-list-meta">
                        <span class="avatar-inline"><a target="_blank" href="http://www.woshipm.com/u/60251"><img src="http://image.woshipm.com/wp-files/2016/08/526058925087533877.jpg!/both/32x32" alt="" height="32" width="32" class="avatar"></a></span><span class="author" data-id="60251"><a target="_blank" href="http://www.woshipm.com/u/60251">南宫七洛</a></span>
                        <span class="dot"></span>
                        <time datetime="2017-05-22T09:31:52+08:00">2017/05/22</time>
                    </div>
                    <div class="stream-list-snipper">
                        原先，我以为产品经理的工作是需要提需求，画原型，跟进度，做测试验收，做运营推广；后来我才明白，产品经理是能够帮助公司获得营收的人；但到现在，我觉得产品经理不...        </div>
                    <footer class="stream-list-footer">
                        <span class="post-views"><span class="iconfont icon-view"></span>阅读 3.1k</span>
                        <span class="post-marks"><span class="iconfont icon-heart"></span>收藏 16</span>
                        <span class="post-likes"><span class="iconfont icon-zan"></span>被赞 17</span>
                    </footer>
                </div>
            </article><article class="u-clearfix stream-list-item" data-id="668318">
                <div class="stream-list-image">
                    <a href="http://www.woshipm.com/pmd/668318.html" target="_blank" title="从五种信息体出发，认识和设计移动产品"><img src="http://image.woshipm.com/wp-files/2017/05/yIsOcv1czitlff5utmCw.jpg!/both/202x145" width="202" height="145"></a>
                    <div class="stream-list-category"><a href="http://www.woshipm.com/category/pmd" rel="category tag">产品经理</a></div>
                </div>
                <div class="stream-list-content">
                    <h2 class="stream-list-title"><a target="_blank" href="http://www.woshipm.com/pmd/668318.html" title="从五种信息体出发，认识和设计移动产品">从五种信息体出发，认识和设计移动产品</a></h2>
                    <div class="stream-list-meta">
                        <span class="avatar-inline"><a target="_blank" href="http://www.woshipm.com/u/260285"><img src="https://static.woshipm.com/woshipm_def_head.jpg?imageView2/1/w/32/h/32/q/100" alt="" height="32" width="32" class="avatar"></a></span><span class="author" data-id="260285"><a target="_blank" href="http://www.woshipm.com/u/260285">lioulier</a></span>
                        <span class="dot"></span>
                        <time datetime="2017-05-21T16:41:58+08:00">2017/05/21</time>
                    </div>
                    <div class="stream-list-snipper">
                        作者通过分析和总结大量的移动产品的信息，最终共将他们归纳成为实体型、交易型、互动型、内容型、时效型等五大类信息体。文章围绕这5类移动产品展开。

                        大家都知道，现...        </div>
                    <footer class="stream-list-footer">
                        <span class="post-views"><span class="iconfont icon-view"></span>阅读 3.6k</span>
                        <span class="post-marks"><span class="iconfont icon-heart"></span>收藏 28</span>
                        <span class="post-likes"><span class="iconfont icon-zan"></span>被赞 6</span>
                    </footer>
                </div>
            </article><article class="u-clearfix stream-list-item" data-id="668272">
                <div class="stream-list-image">
                    <a href="http://www.woshipm.com/pmd/668272.html" target="_blank" title="关于俞军的三个问题，我所给出的回答"><img src="http://image.woshipm.com/wp-files/2017/05/OFX56vvfDSQ7xlzXsPHr.jpg!/both/202x145" width="202" height="145"></a>
                    <div class="stream-list-category"><a href="http://www.woshipm.com/category/pmd" rel="category tag">产品经理</a></div>
                </div>
                <div class="stream-list-content">
                    <h2 class="stream-list-title"><a target="_blank" href="http://www.woshipm.com/pmd/668272.html" title="关于俞军的三个问题，我所给出的回答">关于俞军的三个问题，我所给出的回答</a></h2>
                    <div class="stream-list-meta">
                        <span class="avatar-inline"><a target="_blank" href="http://www.woshipm.com/u/75395"><img src="http://image.woshipm.com/wp-files/2016/03/QQ截图20160316125516.png!/both/32x32" alt="" height="32" width="32" class="avatar"></a></span><span class="author" data-id="75395"><a target="_blank" href="http://www.woshipm.com/u/75395">肥寒</a></span>
                        <span class="dot"></span>
                        <time datetime="2017-05-21T16:01:31+08:00">2017/05/21</time>
                    </div>
                    <div class="stream-list-snipper">
                        多想别人为什么这样做，多想别人要什么，而不要老想自己要怎样做。

                        最近，俞军在网上提了三个问题：

                        如何让用户更多地使用拼车功能？
                        什么样的人会当网约车司机？
                        同...        </div>
                    <footer class="stream-list-footer">
                        <span class="post-views"><span class="iconfont icon-view"></span>阅读 2.6k</span>
                        <span class="post-marks"><span class="iconfont icon-heart"></span>收藏 12</span>
                        <span class="post-likes"><span class="iconfont icon-zan"></span>被赞 4</span>
                    </footer>
                </div>
            </article><article class="u-clearfix stream-list-item" data-id="667112">
                <div class="stream-list-image">
                    <a href="http://www.woshipm.com/pmd/667112.html" target="_blank" title="做好向上管理，产品经理应该知道的五点"><img src="http://image.woshipm.com/wp-files/2017/05/S5ArXg9KmswohLWmeclT.jpg!/both/202x145" width="202" height="145"></a>
                    <div class="stream-list-category"><a href="http://www.woshipm.com/category/pmd" rel="category tag">产品经理</a></div>
                </div>
                <div class="stream-list-content">
                    <h2 class="stream-list-title"><a target="_blank" href="http://www.woshipm.com/pmd/667112.html" title="做好向上管理，产品经理应该知道的五点">做好向上管理，产品经理应该知道的五点</a></h2>
                    <div class="stream-list-meta">
                        <span class="avatar-inline"><a target="_blank" href="http://www.woshipm.com/u/95365"><img src="http://image.woshipm.com/wp-files/2016/06/zlyzfx.jpg!/both/32x32" alt="" height="32" width="32" class="avatar"></a></span><span class="author" data-id="95365"><a target="_blank" href="http://www.woshipm.com/u/95365">赵立阳</a></span>
                        <span class="dot"></span>
                        <time datetime="2017-05-20T09:00:02+08:00">2017/05/20</time>
                    </div>
                    <div class="stream-list-snipper">
                        作为一个有志改变世界的产品经理，请务必记得，向上管理是你非常值得去修炼的学问，这不是溜须拍马，也不是厚黑学。

                        如果用一个词来形容产品经理这个职位，那一定是苦...        </div>
                    <footer class="stream-list-footer">
                        <span class="post-views"><span class="iconfont icon-view"></span>阅读 3.5k</span>
                        <span class="post-marks"><span class="iconfont icon-heart"></span>收藏 35</span>
                        <span class="post-likes"><span class="iconfont icon-zan"></span>被赞 9</span>
                    </footer>
                </div>
            </article><article class="u-clearfix stream-list-item" data-id="667516">
                <div class="stream-list-image">
                    <a href="http://www.woshipm.com/pmd/667516.html" target="_blank" title="产品经理如何push别人？"><img src="http://image.woshipm.com/wp-files/2017/05/PHm7sGsgowHkR10al8Ny.png!/both/202x145" width="202" height="145"></a>
                    <div class="stream-list-category"><a href="http://www.woshipm.com/category/pmd" rel="category tag">产品经理</a></div>
                </div>
                <div class="stream-list-content">
                    <h2 class="stream-list-title"><a target="_blank" href="http://www.woshipm.com/pmd/667516.html" title="产品经理如何push别人？">产品经理如何push别人？</a></h2>
                    <div class="stream-list-meta">
                        <span class="avatar-inline"><a target="_blank" href="http://www.woshipm.com/u/60251"><img src="http://image.woshipm.com/wp-files/2016/08/526058925087533877.jpg!/both/32x32" alt="" height="32" width="32" class="avatar"></a></span><span class="author" data-id="60251"><a target="_blank" href="http://www.woshipm.com/u/60251">南宫七洛</a></span>
                        <span class="dot"></span>
                        <time datetime="2017-05-20T08:30:08+08:00">2017/05/20</time>
                    </div>
                    <div class="stream-list-snipper">
                        很多产品同学可能内核不够强势，在排期的问题上容易妥协。其实这样就失去了自己的价值。产品经理就是要充分协调和利用资源。推动别人跑起来，如果你都不能做一个发动机...        </div>
                    <footer class="stream-list-footer">
                        <span class="post-views"><span class="iconfont icon-view"></span>阅读 3.8k</span>
                        <span class="post-marks"><span class="iconfont icon-heart"></span>收藏 38</span>
                        <span class="post-likes"><span class="iconfont icon-zan"></span>被赞 8</span>
                    </footer>
                </div>
            </article><article class="u-clearfix stream-list-item" data-id="666664">
                <div class="stream-list-image">
                    <a href="http://www.woshipm.com/pmd/666664.html" target="_blank" title="从产品角度，浅谈“智慧农庄”解决方案"><img src="http://image.woshipm.com/wp-files/2017/05/WiI1GBVMETVp5STOHrAn.jpg!/both/202x145" width="202" height="145"></a>
                    <div class="stream-list-category"><a href="http://www.woshipm.com/category/pmd" rel="category tag">产品经理</a></div>
                </div>
                <div class="stream-list-content">
                    <h2 class="stream-list-title"><a target="_blank" href="http://www.woshipm.com/pmd/666664.html" title="从产品角度，浅谈“智慧农庄”解决方案">从产品角度，浅谈“智慧农庄”解决方案</a></h2>
                    <div class="stream-list-meta">
                        <span class="avatar-inline"><a target="_blank" href="http://www.woshipm.com/u/103061"><img src="http://image.woshipm.com/wp-files/2017/05/RIrnNqo5o4YtES8bu7Mx.jpg!/both/32x32" alt="" height="32" width="32" class="avatar"></a></span><span class="author" data-id="103061"><a target="_blank" href="http://www.woshipm.com/u/103061">Vito</a></span>
                        <span class="dot"></span>
                        <time datetime="2017-05-19T16:49:31+08:00">2017/05/19</time>
                    </div>
                    <div class="stream-list-snipper">
                        本文作者从产品思维的角度出发，对农庄的痛点、基础建设、后厨管理和安全管理等方面进行了分析，并提出了相应的解决方案。一起来看看~

                        母亲节在某农庄帮忙，亲眼目睹了...        </div>
                    <footer class="stream-list-footer">
                        <span class="post-views"><span class="iconfont icon-view"></span>阅读 2.7k</span>
                        <span class="post-marks"><span class="iconfont icon-heart"></span>收藏 22</span>
                        <span class="post-likes"><span class="iconfont icon-zan"></span>被赞 9</span>
                    </footer>
                </div>
            </article><article class="u-clearfix stream-list-item" data-id="666850">
                <div class="stream-list-image">
                    <a href="http://www.woshipm.com/pmd/666850.html" target="_blank" title="产品人对末来科技的构想与思考"><img src="http://image.woshipm.com/wp-files/2017/05/FjBSWYO7oa2xtvcHo6gn.jpg!/both/202x145" width="202" height="145"></a>
                    <div class="stream-list-category"><a href="http://www.woshipm.com/category/pmd" rel="category tag">产品经理</a></div>
                </div>
                <div class="stream-list-content">
                    <h2 class="stream-list-title"><a target="_blank" href="http://www.woshipm.com/pmd/666850.html" title="产品人对末来科技的构想与思考">产品人对末来科技的构想与思考</a></h2>
                    <div class="stream-list-meta">
                        <span class="avatar-inline"><a target="_blank" href="http://www.woshipm.com/u/75775"><img src="http://image.woshipm.com/wp-files/2016/07/IMG_0341.png!/both/32x32" alt="" height="32" width="32" class="avatar"></a></span><span class="author" data-id="75775"><a target="_blank" href="http://www.woshipm.com/u/75775">产品人老吴</a></span>
                        <span class="dot"></span>
                        <time datetime="2017-05-19T15:38:17+08:00">2017/05/19</time>
                    </div>
                    <div class="stream-list-snipper">
                        产品的发展方向将会更多的转向服务，如共享单车和滴滴模式就是服务价值的体现，将来应该有更多的娱乐体、便利性服务引入到生活中。

                        历史总是能找到这样或那样的相似，...        </div>
                    <footer class="stream-list-footer">
                        <span class="post-views"><span class="iconfont icon-view"></span>阅读 2.3k</span>
                        <span class="post-marks"><span class="iconfont icon-heart"></span>收藏 9</span>
                        <span class="post-likes"><span class="iconfont icon-zan"></span>被赞 3</span>
                    </footer>
                </div>
            </article><article class="u-clearfix stream-list-item" data-id="667070">
                <div class="stream-list-image">
                    <a href="http://www.woshipm.com/pmd/667070.html" target="_blank" title="需求性质：什么是伴生性需求"><img src="http://image.woshipm.com/wp-files/2017/05/1fPS154kk9Q5DdqTYeRp.jpg!/both/202x145" width="202" height="145"></a>
                    <div class="stream-list-category"><a href="http://www.woshipm.com/category/pmd" rel="category tag">产品经理</a></div>
                </div>
                <div class="stream-list-content">
                    <h2 class="stream-list-title"><a target="_blank" href="http://www.woshipm.com/pmd/667070.html" title="需求性质：什么是伴生性需求">需求性质：什么是伴生性需求</a></h2>
                    <div class="stream-list-meta">
                        <span class="avatar-inline"><a target="_blank" href="http://www.woshipm.com/u/107640"><img src="http://avatar.woshipm.com/images/app/APP_U_201609_20160919013238_7986.jpeg!/both/32x32" alt="" height="32" width="32" class="avatar"></a></span><span class="author" data-id="107640"><a target="_blank" href="http://www.woshipm.com/u/107640">枯叶</a></span>
                        <span class="dot"></span>
                        <time datetime="2017-05-19T14:45:38+08:00">2017/05/19</time>
                    </div>
                    <div class="stream-list-snipper">
                        伴生性需求在整个产品生命过程中占据极大的比重，如果说创造性需求是可以燎原的星星之火，伴生性需求便是为火焰燃烧提供的若干枯草。

                        什么是伴生性需求
                        在我们做产品时...        </div>
                    <footer class="stream-list-footer">
                        <span class="post-views"><span class="iconfont icon-view"></span>阅读 3.1k</span>
                        <span class="post-marks"><span class="iconfont icon-heart"></span>收藏 33</span>
                        <span class="post-likes"><span class="iconfont icon-zan"></span>被赞 8</span>
                    </footer>
                </div>
            </article><article class="u-clearfix stream-list-item" data-id="666524">
                <div class="stream-list-image">
                    <a href="http://www.woshipm.com/pmd/666524.html" target="_blank" title="产品经理对于需求分析和数据分析的思考"><img src="http://image.woshipm.com/wp-files/2017/05/RbElEC3Ll2Kf28IkwHb0.jpg!/both/202x145" width="202" height="145"></a>
                    <div class="stream-list-category"><a href="http://www.woshipm.com/category/pmd" rel="category tag">产品经理</a></div>
                </div>
                <div class="stream-list-content">
                    <h2 class="stream-list-title"><a target="_blank" href="http://www.woshipm.com/pmd/666524.html" title="产品经理对于需求分析和数据分析的思考">产品经理对于需求分析和数据分析的思考</a></h2>
                    <div class="stream-list-meta">
                        <span class="avatar-inline"><a target="_blank" href="http://www.woshipm.com/u/259217"><img src="http://image.woshipm.com/wp-files/2017/05/otqmnoSJ64SU6N76NA33.jpeg!/both/32x32" alt="" height="32" width="32" class="avatar"></a></span><span class="author" data-id="259217"><a target="_blank" href="http://www.woshipm.com/u/259217">罗德涛</a></span>
                        <span class="dot"></span>
                        <time datetime="2017-05-19T14:24:03+08:00">2017/05/19</time>
                    </div>
                    <div class="stream-list-snipper">
                        在本文中，本文作者将结合个人以往的实践经验以及对应的方法论，对产品经理明确初期的产品目标及迅速决策为用户的服务诉求进行详述。

                        当今互联网环境下，很多产品经理...        </div>
                    <footer class="stream-list-footer">
                        <span class="post-views"><span class="iconfont icon-view"></span>阅读 4k</span>
                        <span class="post-marks"><span class="iconfont icon-heart"></span>收藏 47</span>
                        <span class="post-likes"><span class="iconfont icon-zan"></span>被赞 25</span>
                    </footer>
                </div>
            </article>            </div>
        <div class="u-textAlignCenter posts-nav">

            <nav class="navigation pagination" role="navigation">
                <h2 class="screen-reader-text">文章导航</h2>
                <div class="nav-links"><span class="page-numbers current">1</span>
                    <a class="page-numbers" href="http://www.woshipm.com/category/pmd/page/2">2</a>
                    <span class="page-numbers dots">…</span>
                    <a class="page-numbers" href="http://www.woshipm.com/category/pmd/page/391">391</a>
                    <a class="next page-numbers" href="http://www.woshipm.com/category/pmd/page/2">&gt;</a></div>
            </nav>                </div>
    </div>
    <div class="right-column">
        <div class="sidebar">
            <aside id="widget_notice-3" class="widget widget_widget_notice"><h3 class="widget-title">加入圈子</h3>        <div class="widget-site-info">
                    <div class="join-info">

                        <dl class="code-dl">
                            <dd>
                                <img src="http://image.woshipm.com/wp-files/2016/09/pm-erweima.jpg">
                            </dd>
                            <dt>关注微信公众号</dt>
                        </dl>
                        <ul class="code-ul">
                            <li>运营交流群：193274344</li>
                            <li>北京产品群：485701965</li>
                            <li>福建产品群：397675573</li>
                            <li>全国产品群：617953507</li>
                            <li>江浙沪产品群：136399658</li></ul>
                    </div>
                    <div class="app-info"><a class="ios" href="https://itunes.apple.com/cn/app/ren-ren-dou-shi-chan-pin-jing/id998090859" target="_blank"><span class="iconfont icon-ios"></span>iOS版下载</a> <a href="http://sj.qq.com/myapp/detail.htm?apkName=com.woshipm.news" target="_blank" class="android"><span class="iconfont icon-android"></span>Android版下载</a></div>
                </div>
            </aside><div class="widget-ad"><a href="http://www.qidianla.com/course/yunying.html?channel=a2" target="_blank">
                    <img src="http://image.woshipm.com/wp-files/2017/02/uFvoT70ipUeszC1lkgJ0.png" alt="">
                </a></div><div class="widget-ad"><a href="https://www.qidianla.com/course/zongjian.html?channel=a1" target="_blank">
                    <img src="http://image.woshipm.com/wp-files/2015/12/zongjian1222.jpg" alt="">
                </a></div><aside id="hot_posts-2" class="widget widget_hot_posts"><h3 class="widget-title">热门文章</h3><ul class="hot-post-list">        <li class="hot-post-item"><div class="hot-post-image"><a href="http://www.woshipm.com/pmd/663549.html" target="_blank"><img src="http://image.woshipm.com/wp-files/2017/05/p45MqqXUxKykpJWC9RCk.jpg!widget65" width="95" height="65"></a></div><h3 class="hot-post-title"><a target="_blank" href="http://www.woshipm.com/pmd/663549.html">如何正确的画出功能流程图？</a></h3><div class="hot-post-meta"><a target="_blank" href="http://www.woshipm.com/u/91183">浪子PRD</a></div></li>
                    <li class="hot-post-item"><div class="hot-post-image"><a href="http://www.woshipm.com/pmd/663858.html" target="_blank"><img src="http://image.woshipm.com/wp-files/2017/05/RrdhLrDZRBY6CTExoMty.jpg!widget65" width="95" height="65"></a></div><h3 class="hot-post-title"><a target="_blank" href="http://www.woshipm.com/pmd/663858.html">各个阶段产品经理，该如何实现自我提升？</a></h3><div class="hot-post-meta"><a target="_blank" href="http://www.woshipm.com/u/186676">江来来</a></div></li>
                    <li class="hot-post-item"><div class="hot-post-image"><a href="http://www.woshipm.com/pmd/664735.html" target="_blank"><img src="http://image.woshipm.com/wp-files/2017/05/jwRIOsaqeZntr1hL4mQK.png!widget65" width="95" height="65"></a></div><h3 class="hot-post-title"><a target="_blank" href="http://www.woshipm.com/pmd/664735.html">产品人孙博：五年，从高级产品经理到产品专家</a></h3><div class="hot-post-meta"><a target="_blank" href="http://www.woshipm.com/u/258388">产品人</a></div></li>
                    <li class="hot-post-item"><div class="hot-post-image"><a href="http://www.woshipm.com/pmd/664491.html" target="_blank"><img src="http://image.woshipm.com/wp-files/2017/05/ShSYhuHpOrnvm4v3uSLq.png!widget65" width="95" height="65"></a></div><h3 class="hot-post-title"><a target="_blank" href="http://www.woshipm.com/pmd/664491.html">产品经理告诉你做交互设计的套路：3W1H法</a></h3><div class="hot-post-meta"><a target="_blank" href="http://www.woshipm.com/u/100612">Mandy权</a></div></li>
                    <li class="hot-post-item"><div class="hot-post-image"><a href="http://www.woshipm.com/pmd/666471.html" target="_blank"><img src="http://image.woshipm.com/wp-files/2017/05/NMEc0bnNsUqHvNmNUxru.png!widget65" width="95" height="65"></a></div><h3 class="hot-post-title"><a target="_blank" href="http://www.woshipm.com/pmd/666471.html">产品经理必备：客户端架构基础知识</a></h3><div class="hot-post-meta"><a target="_blank" href="http://www.woshipm.com/u/256635">潘一鸣</a></div></li>
                </ul></aside>            </div>
    </div>    </div>
<%- include('site-footer') %>


<%- include('footer') %>
