<%- include('header') %>
<div class="content-wrapper" ng-controller="passwordModify">
  <%- include('modal/password_modify_modal') %>
  <section class="content-header">
    <h1>
      <%= blogName %>
      <small><%= item %></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
      <li><a href="#"><%= category %></a></li>
      <li class="active"><%= item %></li>
    </ol>
  </section>

  <section class="content"  >
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title"><%= item %></h3>
          </div>

          <form class="form-horizontal" name="myForm"  onsubmit="return false;">
            <div class="box-body">
              <div class="form-group" ng-class="{'has-error':myForm.adminUser_password.$invalid && !myForm.adminUser_password.$pristine,'has-success':myForm.adminUser_password.$valid && !myForm.adminUser_password.$pristine}">
                <label for="adminUser_password" class="col-sm-2 control-label">新密码</label>

                <div class="col-sm-10">
                  <input type="password" name="adminUser_password" class="form-control" id="adminUser_password" placeholder="请输入新密码" ng-model="adminUser_password" ng-pattern="/^[_a-zA-Z]\w{5,21}$/" required>
                  <span class="help-block ng-hide"
                        ng-show="myForm.adminUser_password.$invalid && !myForm.adminUser_password.$pristine"><span
                            class="glyphicon glyphicon-remove"></span>对不起，密码必须为字母或者下划线_开头，只能包含字母、数字、下划线_，且长度为6~22位！</span>
                  <span class="help-block ng-hide"
                        ng-show="myForm.adminUser_password.$valid && !myForm.adminUser_password.$pristine"><span
                            class="glyphicon glyphicon-ok"></span>恭喜您，该密码可用！</span>
                </div>
              </div>
              <div class="form-group" ng-class="{'has-error':myForm.adminUser_repassword.$invalid && !myForm.adminUser_repassword.$pristine,'has-success':myForm.adminUser_repassword.$valid && !myForm.adminUser_repassword.$pristine}">
                <label for="adminUser_repassword" class="col-sm-2 control-label">确认密码</label>

                <div class="col-sm-10">
                  <input type="password" name="adminUser_repassword" pw-check="adminUser_password" class="form-control" id="adminUser_repassword" placeholder="请输入确认密码" ng-model="adminUser_repassword" ng-pattern="/^[_a-zA-Z]\w{5,21}$/" required>
                  <span class="help-block ng-hide"
                        ng-show="myForm.adminUser_repassword.$invalid && !myForm.adminUser_repassword.$pristine"><span
                            class="glyphicon glyphicon-remove"></span>对不起，两次输入密码不相同！</span>
                  <span class="help-block ng-hide"
                        ng-show="myForm.adminUser_repassword.$valid && !myForm.adminUser_repassword.$pristine"><span
                            class="glyphicon glyphicon-ok"></span>恭喜您，两次密码输入一致！</span>
                </div>
              </div>
            </div>

            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right" ng-click="passwordModify()">提交</button>
            </div>

          </form>
        </div>
      </div>

    </div>

  </section>

</div>







<%- include('footer') %>